@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2%) hue-rotate(1deg) brightness(104%)
        contrast(101%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    //     Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(5%) saturate(2692%) hue-rotate(186deg)
        brightness(91%) contrast(89%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(97%) sepia(22%) saturate(693%) hue-rotate(251deg)
        brightness(109%) contrast(96%);

    //     Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

    //     Category Item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-text-color: #fff;

    //   Button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    //     Product Card
    --product-card-bg: #171c28;
    --product-card-branch-color: #9e9da8;

    //     Filter Form
    --filter-form-bg: #292e39;
    --filter-form-shadow: 0px 40px 90px rgba(0, 0, 0, 0.4);

    --filter-arrow-filter: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(1343%) hue-rotate(183deg)
        brightness(88%) contrast(91%);
    --filter-form-tag-bg: #171c28;
    --filter-form-tag-color: #9e9da8;

    //     Footer
    --footer-bg: #fff;
    --footer-text-color: #292e39;
    --footer-link-color: #000;
    --footer-item-icon-box-bg: #e7e7e7;
    --footer-follow-item-color: #fff;
    --footer-bot-bg: #9d9d9d;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    @include abstracts.screen(md) {
        --cate-item-bg: #171c28;
    }
}
