// Filter Button

.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 12px;
    border-radius: 6px;

    height: 36px;
    color: var(--filter-btn-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
    background: var(--filter-btn-bg);
}

// Like Button
.like-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 20px 60px var(--like-btn-shadow);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        width: 24px;
    }
}

// Buttons

.btn {
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    background: #f8f8fb;

    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;

    & + & {
        margin-left: 20px;
    }

    &--text {
        color: #9e9da8;
        font-weight: 400;
        background: transparent;
    }

    &--primary {
        color: #171c28;
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &:hover {
        opacity: 0.9;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
