<div class="footer">
    <a href="#" class="footer__arrow-up">
        <i class="fa-solid fa-angles-up"></i>
    </a>

    <div class="footer__inner">
        <div class="footer__content">
            <div class="container">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col col-xxl-2 col-lg-4 col-sm-12">
                        <div class="footer__col">
                            <h2 class="footer__title">OUR SHOPS</h2>
                            <div class="footer__list">
                                <a href="#!" class="footer__link">Product Support</a>
                                <a href="#!" class="footer__link">PC setup & Support</a>
                                <a href="#!" class="footer__link">Services</a>
                                <a href="#!" class="footer__link">Extended Service Plans</a>
                                <a href="#!" class="footer__link">Community</a>
                            </div>
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="col col-xxl-2 col-lg-4 col-sm-12">
                        <div class="footer__col">
                            <h2 class="footer__title">YOUR LINKS</h2>
                            <div class="footer__list">
                                <a href="#!" class="footer__link">Product Support</a>
                                <a href="#!" class="footer__link">PC setup & Support</a>
                                <a href="#!" class="footer__link">Services</a>
                                <a href="#!" class="footer__link">Extended Service Plans</a>
                                <a href="#!" class="footer__link">Community</a>
                            </div>
                        </div>
                    </div>

                    <!-- Column 3 -->
                    <div class="col col-xxl-3 col-lg-4 col-sm-12">
                        <div class="footer__col">
                            <h2 class="footer__title">CUSTOMER SERVICES</h2>
                            <div class="footer__list">
                                <a href="#!" class="footer__link">Product Support</a>
                                <a href="#!" class="footer__link">PC setup & Support</a>
                                <a href="#!" class="footer__link">Services</a>
                                <a href="#!" class="footer__link">Extended Service Plans</a>
                                <a href="#!" class="footer__link">Community</a>
                            </div>
                        </div>
                    </div>
                    <!-- Column 4 -->
                    <div class="col col-xxl-2 col-lg-6 col-sm-12">
                        <div class="footer__col">
                            <h2 class="footer__title">SUPPORT</h2>
                            <div class="footer__list">
                                <a href="#!" class="footer__link">Product Support</a>
                                <a href="#!" class="footer__link">PC setup & Support</a>
                                <a href="#!" class="footer__link">Services</a>
                                <a href="#!" class="footer__link">Extended Service Plans</a>
                                <a href="#!" class="footer__link">Community</a>
                            </div>
                        </div>
                    </div>

                    <!-- Column 5 -->
                    <div class="col col-xxl-3 col-lg-6 col-sm-12">
                        <h2 class="footer__title">CONTACT US</h2>
                        <div class="footer__list">
                            <!-- Item 1 -->
                            <div class="footer__item">
                                <div class="footer__item-icon-box">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>

                                <div class="footer__item-info">
                                    <p class="footer__item-info-top">Address: No 40 Baria Street 133/2 NewYork City.</p>
                                    <p class="footer__item-info-bot">NY. United States</p>
                                </div>
                            </div>
                            <!-- Item 2 -->
                            <div class="footer__item">
                                <div class="footer__item-icon-box">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>

                                <p class="footer__item-info">Email: grocerymartcontact.@mail.com</p>
                            </div>
                            <!-- Item 3 -->
                            <div class="footer__item">
                                <div class="footer__item-icon-box">
                                    <i class="fa-solid fa-mobile-screen"></i>
                                </div>

                                <div class="footer__item-info">
                                    <p class="footer__item-info-top">Phone 1: 0123456789</p>
                                    <p class="footer__item-info-bot">Phone 2: 9876543210</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__separate"></div>
            <div class="container">
                <div class="footer__mid">
                    <div class="footer__download">
                        <h3 class="footer__title">DOWNLOAD OUR APP</h3>
                        <div class="footer__download-list">
                            <a href="#!" class="footer__download-item">
                                <img
                                    src="./assets/img/footer-download/footer__download-AppStore.svg"
                                    alt=""
                                    class="footer__download-img"
                                />
                            </a>
                            <a href="#!" class="footer__download-item">
                                <img
                                    src="./assets/img/footer-download/footer__download-ChPlay.svg"
                                    alt=""
                                    class="footer__download-img"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="footer__follow">
                        <h3 class="footer__title">FOLLOW US</h3>
                        <div class="footer__follow-list">
                            <a href="#!" class="footer__follow-item"> <i class="fa-brands fa-facebook-f"></i> </a>
                            <a href="#!" class="footer__follow-item"> <i class="fa-brands fa-twitter"></i> </a>
                            <a href="#!" class="footer__follow-item"> <i class="fa-brands fa-youtube"></i> </a>
                            <a href="#!" class="footer__follow-item"> <i class="fa-brands fa-pinterest"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__bot">
                <p class="footer__copy">
                    ©2025 WordPress Theme SW Revo All Rights Reserved Designed by
                    <span class="footer__copy-highlight">WPThemeGo.Com</span>
                </p>
            </div>
        </div>
    </div>
</div>
